.container
  .bbs-title
    %h2 掲示板
.forum-image
.container 
  .forum-detail-image
    .forum-detail-wrapper
      .forum-detail
        .forum-detail-title 
          = @forum.title
        .forum-detail-content 
          = @forum.content
      .forum-detail-avatar 
        = image_tag @forum.user.avatar_image
      .forum-detail-info
        %p= @forum.display_created_at
      .comment-button
        = link_to new_forum_comment_path(@forum) do
          %p コメントを追加

- if @comments.present?
  .forum-comment
    %h2 Comment
  - @comments.each do |comment|
    .comment-content
      = comment.content
      .comment-edit
        = link_to edit_forum_comment_path(@forum, comment.id) do
          = image_tag 'pen.svg', class: 'edit-img'
      .comment-detail 
        .comment-detail-avatar 
          = image_tag comment.user.avatar_image
          
        .comment-detail-info
          %p= comment.play_created_at
        