!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Farmers
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0", :name => "viewport"}/
    
  %body
    %header#header
      .inner
        .header-title
          = link_to 'FARNECT', root_path
        - if user_signed_in?
          %ul.navi
            %li
              =link_to '投稿一覧', forums_path
            %li
              =link_to 'プロフィール', profile_path(current_user)  
          
          = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }, class: 'header_loginBtn'
        - else
          .navi
            = link_to 'ログイン', new_user_session_path, class: 'header_loginBtn'

    .top
      .container 
        .top-wapper
          .top-title
            %h1 FARNECT
          .top-subtitle
            %p 日本の食を未来へ<br>農業と人を繋ぐ
    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value


    
    = yield
