!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Farmers
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    %header#header
      .inner
        .header-title
          = link_to 'FARNECT', root_path
        %ul.navi
          %li
            =link_to 'Home', forums_path
          %li
            %a{:href => "#"} About
          %li
            %a{:href => "#"} Contact
    .top
      .container 
        .top-wapper
          .top-title
            %h1 FARNECT
          .top-subtitle
            %p 日本の食を未来へ<br>農業と人を繋ぐ

    
    = yield
